const { getMetadata } = require("core-js/fn/reflect")

const { default: axios } = require("axios")

<template>
  <q-page class="flex flex-center">
    <q-table
      title="List"
      :rows="rows"
      :columns="columns"
      row-key="name"
    >

      <template v-slot:header="props">
        <q-tr :props="props">
          <q-th auto-width></q-th>
          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            {{ col.label }}
          </q-th>
        </q-tr>
      </template>

      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td auto-width>
            <q-btn size="sm" color="accent" round dense @click="props.expand = !props.expand" :icon="props.expand ? 'remove' : 'add'" v-if="props.row.squard"></q-btn>
          </q-td>
          <q-td
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            {{ col.value }}
          </q-td>
        </q-tr>
        <q-tr v-show="props.expand" :props="props" v-for="(data, index) in props.row.squard" :key="index">
          <q-td auto-width>
            <q-btn size="sm" color="accent" round dense @click="data.expand = !data.expand" :icon="data.expand ? 'remove' : 'add'" v-if="data.squard"></q-btn>
          </q-td>
          <q-td>{{ data.name}}</q-td>
          <q-td>{{ data.age}}</q-td>
          <q-td>{{ data.hobbies}}</q-td>
          <q-tr v-show="data.expand" :props="data" v-for="(data2, index) in data.squard" :key="index">
            <q-td>{{ data2.name}}</q-td>
            <q-td>{{ data2.age}}</q-td>
            <q-td>{{ data2.hobbies}}</q-td>
          </q-tr>
        </q-tr>
      </template>
    </q-table>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'
import axios from 'axios'
export default defineComponent({
  name: 'PageIndex',
  data () {
    return {
      columns: [
        { name: 'name', label: 'Name', field: 'name', sortable: true },
        { name: 'age', label: 'Age', field: 'age', sortable: true },
        { name: 'hobbies', label: 'Hobbies', field: 'hobbies', sortable: true }
      ],
      rows: []
    }
  },
  mounted () {
    this.getMetadata()
  },
  methods: {
    getMetadata () {
      axios.get('http://demo2725834.mockable.io/api/v1/list')
        .then(response => {
          this.rows = response.data.data
        })
        .catch(error => {
          console.log(error)
        })
    }
  }
})
</script>
